extends layout

block content
  p Welcome to #{title}

  #ikkuna
    div(id="viestit" data-bind="foreach:messages")
    div(id="#viest132" data-bind="text:message" class="viesti") Taa on viesti
    #userit
      ul
        li juhoh
    .clearfix 
    input(type="text" id="msgbox")
