extends layout

block content
  p Welcome to #{title}

  #ikkuna
    #viestit(data-bind="foreach:messages")
      .viesti
        span(id="viesti-username" data-bind="text:username" class="username") 
        span(id="#viest132" data-bind="text:text" class="text")
    #userit
      ul
    .clearfix 
    input(type="text" id="loginbox" placeholder="Your username")
    input(type="text" id="msgbox" placeholder="Message")

