/* ghetto reset */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 60em;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
	list-style: none;
}

header {
  margin-bottom: .2em;
}

header h1 {
  color: #555;
  font-size: 2.5em;
  font-weight: 200;
  /* font-style: italic; */
  font-family: georgia, serif;
}

#msgbox,
#loginbox {
  color: #444;
  width: 59.3em;
  padding: .2em;
  font-size: 1em;
  font-family: monospace;
  border: 1px solid #999;
}

#msgbox {
  display:none;
}

#ikkuna {
  width: 90%
  margin: 0 auto;
  border: 1px solid #bbb;
}

#ikkuna #viestit,
#ikkuna #userit {
  color: #555;
  font-size: 1em;
  min-height: 25em;
  max-height: 25em;
  overflow-y: auto;
}

#ikkuna #viestit {
  width: 78%;
  float: left;
  border-right: 1px solid #bbb;
}

#ikkuna #userit {
  width: 20%;
  float: left;
  padding-left: .5em;
}

.viesti .username {
  padding-right: 0.5em;
}

.timestamp {
  padding-right: 0.5em;
}

.viesti .username:before {
  content: "<";
}

.viesti .username:after {
  content: ">";
}

.clearfix {
  clear: both;
  height: 1px;
  width: 1px;
}

