/* ghetto reset */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 60em;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul{
	list-style-type: none;
}
#msgbox{
  display:none;
}
#ikkuna {
  width: 90%
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #c0c0c0;
}

#ikkuna #viestit {
  width: 80%;
  float: left;
  background: #999;
}

#ikkuna #userit {
  width: 20%;
  float: left;
  background: #444;
}

.clearfix {
  clear: both;
  height: 1px;
  width: 1px;
}

