/* ghetto reset */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 60em;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
	list-style: none;
}

#msgbox,
#loginbox {
  width: 59.3em;
  border: 1px solid #777;
  padding: .2em;
  font-size: 1em;
  font-family: monospace;
}

#msgbox {
  display:none;
}

#ikkuna {
  width: 90%
  margin: 0 auto;
  border: 1px solid #c0c0c0;
}

#ikkuna #viestit,
#ikkuna #userit {
  font-size: 1em;
  min-height: 15em;
}

#ikkuna #viestit {
  width: 78%;
  float: left;
  border-right: 1px solid #666;
}

#ikkuna #userit {
  width: 20%;
  float: left;
  padding-left: .5em;
}

.viesti .username{
  padding-right: 0.5em;
}

.timestamp{
  padding-right: 0.5em;
}
.viesti .username:before {
  content: "<";
}

.viesti .username:after {
  content: ">";
}

.clearfix {
  clear: both;
  height: 1px;
  width: 1px;
}

